* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

main {
    background-color: red;
    margin: auto;
    max-width: 800px;
}

nav {
    box-sizing: border-box;
    float: left;
    display: block;
    width: 200px;
    padding-top: 25px;
    padding-left: 50px;
}

.menu {
    width: 120px;
    margin-top: 10px;
    border-radius: 3px;
}

a {
    color: white;
}

.content {
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    text-align: justify;
    margin-left: 200px;
    height: 800px;
}

.big_letter {
    font-size: 1.5em;
    color: red;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding: 3px;
}

::selection {
    background-color: green;
    color: white;
}

.menu:hover {
    background-color: green;
}

@media (max-width:768px) {
    .content {
        height: auto;
    }
}